.app {
  max-width: 100rem;
  margin: 4rem auto;
  margin-bottom: 15rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  opacity: 0;
  padding: 0 2rem;
  transition: all 1s;
}

.balance {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

@media (max-width: 992px) {
  .app {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, 15rem) auto;
    gap: 1.25rem;
  }
  .balance {
    grid-column: 1 / -1;
  }
}

@media (max-width: 576px) {
  .app {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  .balance__label {
    font-size: 1.7rem;
  }
  .balance__date {
    font-size: 1.2rem;
  }
  .balance__value {
    font-size: 3rem;
  }
}
