/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-primary);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

.operation-feedback {
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 1.5rem;
}

.operation-feedback.success {
  color: green;
}

@media (max-width: 768px) {
  .operations__tab-container .btn {
    font-size: 1.35rem;
    padding: 1.2rem 2.7rem;
  }
  .operations__tab {
    margin-right: 1.8rem;
  }
  .operations__content {
    padding: 1.5rem 2rem 2.5rem 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .operations__tab-container .btn {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
  }
  .operations__tab {
    margin-right: 1rem;
  }
  .operations__content {
    padding: 1.5rem 1rem 1.5rem 1rem;
    font-size: 1.25rem;
  }
  .operations__icon {
    height: 5rem;
    width: 5rem;
  }
  .operations__content--active {
    column-gap: 1rem;
    grid-template-columns: 5rem 1fr;
  }
  .operations__header {
    font-size: 1.9rem;
  }
}

@media (max-width: 400px) {
  .operations__tab-container .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    line-height: 1.2;
  }

  .operations__tab-container .btn span {
    margin-right: 0.2rem;
  }
  .operations__tab {
    margin-right: 0.6rem;
  }
  .operations__header {
    font-size: 1.7rem;
  }
  .operations__icon {
    height: 2.5rem;
    width: 2.5rem;
  }
  .operations__content {
    font-size: 1rem;
  }
  .operations__content--active {
    column-gap: 0.7rem;
    grid-template-columns: 3.5rem 1fr;
  }
}
